* {
    margin: 0;
    font-family: Open Sans;
}

/*header styles started*/
.header {
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner {
    text-align: right;
    padding: 200px 200px;
    color: white;
    position: right;
}

.banner-content {
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;
}

.banner-description {
    margin-bottom: 32px;
}

.btn-primary {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    color: #005FAC;
}

/* header styles end */



/* main styles started */


/* failures section styles */

.failures {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px;
}

.parson {
    width: 50%;
    padding: 15px;
}

.my-failures {
    width: 50%;
    padding: 15px;
    padding-top: 100px;
    font-weight: 700;
    font-size: 40px;
}

.failures-title {
    margin-left: 40px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.failures-description {
    margin-left: 40px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}

.failures-list li {
    padding: 8px 0;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    list-style: none;

}


/* plan section styles */
.plan-header {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 50px;
}

.skills-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 100px;
}

.skills {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 130px;
}

.skills-container h4 {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.skills h4 {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-top: 10px;
}

.skills p {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
    margin-top: 15px;
}

/* call now section styles */

.call-now-container {
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url("../images/watch.png");
    background-size: cover;
    padding: 59px 64px;
    background-repeat: no-repeat;
    margin-bottom: 130px;
    margin: 0 170px 130px 170px;
}

.call-header {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.call-now-btn {
    padding: 20px 35px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border: none;
    border-radius: 5px;
}

/* custom styles */

.social-section {
    background-image: linear-gradient(60deg, #005FAC 0%, rgba(0, 95, 172, 0) 30%), url('../images/icons/soundcloud.png');
    height: 400px;
    background-size: cover;
    padding 50px 100px;
    background-repeat: no-repeat;
    margin: 50px 170px;
    border-radius: 8px;
    margin-bottom: 130px;
}

.social-container {
    padding: 150px 200px;
}

.my-soundcloud {
    display: block;
    text-align: center;
}

.social-header {
    font-weight: 700;
    font-size: 40px;
    color: #1d0e69;
}

.social-sub-header {
    font-weight: 400;
    font-size: 20px;
    color: #1e091d;
    margin-bottom: 10px;
}

.social-visit-btn {
    padding: 20px 35px;
    border: none;
    border-radius: 8px;
    color: yellow;
    background: #ac0059;

}

/* main styles ended */

/* footer styles started */

/* contact styles */
.footer-section {
    background-color: #151414;
    color: #FFFFFF;
    padding: 100px 300px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.contact-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.contact-description {
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;

}

.contact-email {
    margin-top: 25px;
    margin-bottom: 16px;
}

.contact-phone {
    margin-bottom: 35px;
}

.future a {
    text-decoration: none;
    margin: 5px 5px 5px 0;
}

.subscribe {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
}

.email-form {
    border: 2px solid #F8F8F8;
    padding: 15px 50px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #151414;
}

.subscribe-btn {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px 35px;
    background: #005FAC;
    border-radius: 8px;
}

/* styles ended here */